---

export interface Props {
    id: string;
    title: string,
    imgSrc: string
}

const {
    id,
    title,
    imgSrc
} = Astro.props;

---

<a href={`/${id}`} class="w-[781px] h-[198px] bg-gray-700 flex px-5 rounded-2xl hover:scale-105  transition-all hover:contrast-125 hover:shadow-2xl" id={id}>
    <img src={imgSrc} alt="" class="w-[208px] h-full" style={`view-transition-name: project-${id}`}>
    <h1 class="text-white m-auto text-6xl font-semibold">{title}</h1>
</a>